@keyframes img-move {
  from {
    transform: scale(1) translateY(0px);
  }
  to {
    transform: scale(0.9) translateY(10px);
  }
}
@keyframes drop-shadow {
  from {
    filter: drop-shadow(2px 1px 26px rgba(255, 255, 255, 0));
  }
  to {
    filter: drop-shadow(2px 1px 26px rgba(255, 255, 255, 0.3));
  }
}
@keyframes scroll-up-down {
  from { transform: translateY(0); }
  to { transform: translateY(-10px); }
}

.header-container {
  background: linear-gradient( to right, var(--bg-from-dark) 20%, var(--bg-to-dark) 80% );
  position: relative;
  padding: 0 6rem 5rem 6rem;
  height: 100vh;
  background-color: #222;
  font-family: Grotesque-regular;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &--sx {
    display: flex;
    flex-direction: column;
    gap: 1.9rem;

    &__titolo {
      font-size: 1.8rem;

      h1 {
        max-width: max-content;
        animation: drop-shadow 2s ease 0s infinite alternate;
      }

      span {
        color: #00ceff;
      }
    }

    &__descrizione {
      color: #999;
      font-size: 1.3rem;
      width: 70%;
    }
    &__features {
      z-index: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.6rem;
      font-size: 1.1rem;

      .item {
        display: flex;
        transition: 0.3s ease 0s;
        gap: 0.7rem;
        cursor: pointer;

        &:hover {
          gap: 1.3rem;
          opacity: 0.8;
        }

        i {
          color: #00ceff;
          font-size: 1rem;
        }
      }
    }
  }
  &--dx {
    &__immagine {

      img {
        width: 100%;
        animation: img-move 4s ease 0s infinite alternate;
      }
    }
  }
  &--scroll {
    animation: scroll-up-down 1s ease-in-out 0s infinite alternate;
    position: absolute;
    bottom: 2rem;
    font-size: 1.1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    text-align: center;
    font-family: Grotesque-regular;
  }
}

@media screen and (max-width: 1024px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    height: 100vh;
    gap: 5rem;
    padding-top: 8rem;

    &--sx {
      align-items: center;
      order: 2;

      &__titolo {
        width: 100%;
      }
      &__descrizione {
        width: 100%;
        text-align: start;
      }

      &__features {
        width: 100%;
        align-items: start;

        .item:hover {
          opacity: 0.6;
          gap: 0.7rem;
        }
      }
    }
  }
}
@media screen and (max-width: 780px) {
  .header-container {
    gap: 4rem;

    &--sx {
      align-items: start;
      text-align: start;

      &__titolo {
        font-size: 1.4rem;
      }
      &__descrizione {
        font-size: 1.2rem;
        width: 100%;
        text-align: start;
      }
      &__features {
        font-size: 1rem;
        align-items: start;
      }
    }
    &--scroll {
      bottom: 20px;
    }
  }
}
@media screen and (max-width: 540px) {
  .header-container {
    padding: 8rem 3rem 5rem 3rem;
  }
}
