<div class="footer-container">

  <div class="footer-container__up">
    <div class="footer-up__item">
      <div class="footer-up__item--svg">
        <p routerLink=""><span>TL</span>oper</p>
      </div>
    </div>
    <div class="footer-up__item" *ngFor="let item of footerItems" [ngClass]="item.scrollActive ? 'label-on' : 'label-off'" (click)="toggleLabel(item.title)">
      <div class="footer-up__item--left">
        <div class="footer-up__item--left--title">{{item.title}}</div>
        <div class="footer-up__item--left--subtitle" *ngFor="let subitem of item.subtitle" [routerLink]="subitem == 'Overview' ? '/products' : '/' + subitem.toLowerCase()">{{subitem}}</div>
      </div>
      <div class="footer-up__item--right">
        <i class="bi bi-plus"></i>
      </div>

    </div>
  </div>
  <div class="footer-container__down">
    <div class="footer-container__down--svg">
      <a href="http://t.me/aloisi_matteo" target="_blank" class="icon-svg">
        <i class="bi bi-telegram"></i>
      </a>
      <a href="https://github.com/AloisiMatteo" target="_blank" class="icon-svg">
        <i class="bi bi-github"></i>
      </a>
      <a href="https://www.linkedin.com/in/matteo-aloisi-64395b258/" target="_blank" class="icon-svg">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="https://discordapp.com/users/357164515789373441" target="_blank" class="icon-svg">
        <i class="bi bi-discord"></i>
      </a>
    </div>
    <div class="footer-container__down--copyright">
      <span>©Copyright 2023 Tloper</span>
    </div>
  </div>

</div>
