:root {
  --background-color-rgba: rgba(30, 32, 44);
  --background-shadow-rgba: rgba(0,0,0);
  --white-rgba: rgba(255,255,255);
  --black-rgba: rgba(0,0,0);
  --tooltip-color-rgba:  rgba(30, 32, 44);
  --background-color:  #1E202C;
  --background-hover:  #000000;
  --primary-color:  #BB86FC;
  --secondary-color:  #03DAC6;
  --on-primary:  #000000;
  --on-secondary:  #000000;
  --on-background:  #ffffff;
  --text:  #2c3e50;


  /* Varianti default */
  --navbar-background-color: #f9f9f9;
  --navbar-text-color: #161616;
  --navbar-svg-fill: #161616;
  --regular-button-color: #161616;
  --regular-button-text-color: #f9f9f9;
  --text-color: #161616;
}

[data-theme = "dark"] {
  --navbar-background-color: rgb(139 139 139 / 11%);
  --navbar-text-color: #f9f9f9;
  --navbar-svg-fill: #f9f9f9;
  --regular-button-color: white;
  --regular-button-text-color: black;
  --text-color: #f9f9f9;
  --bg-from-dark: rgb(14 8 62 / 40%);
  --bg-to-dark: #0d1116;
  --section-bg-dark: linear-gradient( to right, var(--bg-from-dark) 20%, var(--bg-to-dark) 80% );
}
[data-theme = "light"] {
  --navbar-background-color: #f9f9f9;
  --navbar-text-color: #161616;
  --navbar-svg-fill: #161616;
  --regular-button-color: #161616;
  --regular-button-text-color: #f9f9f9;
  --text-color: #161616;
}
