@font-face {
    font-family: Grotesque-regular;
    src: url("https://assets.ctfassets.net/ozc5on9ss4ee/2osi0uiTA5iRhoKfp6pYZB/b19b6eaf800c81aabc0b2b10b89b3649/ActiefGrotesque_W_Rg.woff2");
}
@font-face {
    font-family: Grotesque-medium;
    src: url("https://assets.ctfassets.net/ozc5on9ss4ee/2LmZV0CLTUWRdYKdIEIzOS/c2da09516ceed7a017df44fcb13bdc05/ActiefGrotesque_W_Md.woff2");
}
@font-face {
    font-family: Grotesque-bolder;
    src: url("https://assets.ctfassets.net/ozc5on9ss4ee/328JLdHzYfyPNfpQVfORHF/82c426e107207cd61fc1bf113d895229/ActiefGrotesque_W_Bd.woff2");
}
@font-face {
    font-family: Brolink;
    src: url("Brolink.otf");
}
