<div class="about-header-container">
  <div class="about-header-container--top" data-aos="zoom-out">
    <h1><span>About</span> Me</h1>
  </div>
  <div class="about-header-container--bottom" data-aos="zoom-out">
    <div class="about-header-container--bottom__img">
      <img src="../../assets/images/Foto_profilo.jpg" alt="">
    </div>
    <div class="about-header-container--bottom__description">
      <p>
        <span>Hi! I'm Aloisi Matteo</span> <br>
        And I enjoy creating things that live on the internet. <br>
        <span>I implement</span> visual elements that users see and interact with in my web application. <br>
        <span>Application</span> that are usually supported by back-end web developers,
        who are responsible for server-side application logic and integration <span>of my work</span>.
      </p>
      <div class="about-header-container--bottom__description--button">
        <app-learn-more-buttons [buttonURL]="buttonURL"></app-learn-more-buttons>
      </div>
      <div class="about-header-container--bottom__description--links">
        <a href="http://t.me/aloisi_matteo" target="_blank" class="item">
          <i class="bi bi-telegram"></i>
        </a>
        <a href="https://github.com/AloisiMatteo" target="_blank" class="item">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/matteo-aloisi-64395b258/" target="_blank" class="item">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://discordapp.com/users/357164515789373441" target="_blank" class="item">
          <i class="bi bi-discord"></i>
        </a>
      </div>

    </div>
  </div>
</div>
