<div class="about-header-container">
  <div class="about-header-container--top" data-aos="zoom-out">
    <h1><span>Chi</span> sono</h1>
  </div>
  <div class="about-header-container--bottom" data-aos="zoom-out">
    <div class="about-header-container--bottom__img">
      <img src="../../assets/images/Foto_profilo.jpg" alt="">
    </div>
    <div class="about-header-container--bottom__description">
      <p>
        <span>Aloisi Matteo</span> <br>
        <span>Piacere di conoscerti! </span>Creo applicazioni innovative per i siti web.<br>
        <span>Implemento</span> elementi visivi, i quali utenti possono osservare ed interagire all'interno dell'applicazione <br>
        <span>Applicazioni</span> che sono solitamente supportate da sviluppatori BackEnd, che sono responsabili
        della logina dell'applicazione lato server e dell'integrazione <span>del mio lavoro</span>.
      </p>
      <div class="about-header-container--bottom__description--button">
        <app-learn-more-buttons [buttonURL]="buttonURL"></app-learn-more-buttons>
      </div>
      <div class="about-header-container--bottom__description--links">
        <a href="http://t.me/aloisi_matteo" target="_blank" class="item">
          <i class="bi bi-telegram"></i>
        </a>
        <a href="https://github.com/AloisiMatteo" target="_blank" class="item">
          <i class="bi bi-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/matteo-aloisi-64395b258/" target="_blank" class="item">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://discordapp.com/users/357164515789373441" target="_blank" class="item">
          <i class="bi bi-discord"></i>
        </a>
      </div>

    </div>
  </div>
</div>
